@import '../settings/variables';

html {
  height: 100%;
  font-size: $font-size-base;
}

body {
  font-family: $font-paragraph;
  font-weight: $font-weight-normal;
  height: 100%;
}

.main {
  background: #F2F2F2;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  border-color: #CCC;
  min-height: 152vh;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1500px;
}