@import '../settings/variables';

.u-font-weight {
  &--light {
    font-weight: $font-weight-light;
  }

  &--normal {
    font-weight: $font-weight-normal;
  }

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }
}
