.row-flex {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.justify {
  &-content {
    &-center {
      justify-content: center;
    }

    &-between {
      justify-content: space-between;
    }

    &-evenly {
      justify-content: space-evenly;
    }

    &-end {
      justify-content: flex-end;
    }
  }
}

.align {
  &-items {
    &-base {
      align-items: baseline;
    }

    &-center {
      align-items: center;
    }

    &-start {
      align-items: flex-start;
    }

    &-end {
      align-items: flex-end;
    }
  }

  &-content {
    &-stretch {
      align-content: stretch;
    }

    &-start {
      align-content: flex-start;
    }
  }
}

.flex-fill {
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  flex-basis: auto !important;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.action-header {
  padding-top: 20px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  & > &__heading,
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    flex: 1;
    margin: 0;
  }
  &__actions {
    white-space: nowrap;
  }
}
