.mr {
  &-0 {
    margin-right: 0!important;
  }
  
  &-1 {
    margin-right: .25rem!important;
  }
  
  &-2 {
    margin-right: .5rem!important;
  }
  
  &-3 {
    margin-right: 1rem!important;
  }
  
  &-4 {
    margin-right: 1.5rem!important;
  }
  
  &-5 {
    margin-right: 3rem!important;
  }
  
  &-auto {
    margin-right: auto!important;
  }
}


.ml {
  &-0 {
    margin-left: 0!important;
  }
  
  &-1 {
    margin-left: .25rem!important;
  }
  
  &-2 {
    margin-left: .5rem!important;
  }
  
  &-3 {
    margin-left: 1rem!important;
  }
  
  &-4 {
    margin-left: 1.5rem!important;
  }
  
  &-5 {
    margin-left: 3rem!important;
  }

  &-auto {
    margin-left: auto!important;
  }
}


.mb {
  &-0 {
    margin-bottom: 0!important;
  }
  
  &-1 {
    margin-bottom: .25rem!important;
  }
  
  &-2 {
    margin-bottom: .5rem!important;
  }
  
  &-3 {
    margin-bottom: 1rem!important;
  }
  
  &-4 {
    margin-bottom: 1.5rem!important;
  }
  
  &-5 {
    margin-bottom: 3rem!important;
  }

  &-auto {
    margin-bottom: auto!important;
  }
}


.mt {
  &-0 {
    margin-top: 0!important;
  }
  
  &-1 {
    margin-top: .25rem!important;
  }
  
  &-2 {
    margin-top: .5rem!important;
  }
  
  &-3 {
    margin-top: 1rem!important;
  }
  
  &-4 {
    margin-top: 1.5rem!important;
  }
  
  &-5 {
    margin-top: 3rem!important;
  }

  &-auto {
    margin-top: auto!important;
  }
}
