.pr {
  &-0 {
    padding-right: 0!important;
  }

  &-1 {
    padding-right: .25rem!important;
  }

  &-2 {
    padding-right: .5rem!important;
  }

  &-3 {
    padding-right: 1rem!important;
  }

  &-4 {
    padding-right: 1.5rem!important;
  }

  &-5 {
    padding-right: 3rem!important;
  }

  &-auto {
    padding-right: auto!important;
  }
}


.pl {
  &-0 {
    padding-left: 0!important;
  }

  &-1 {
    padding-left: .25rem!important;
  }

  &-2 {
    padding-left: .5rem!important;
  }

  &-3 {
    padding-left: 1rem!important;
  }

  &-4 {
    padding-left: 1.5rem!important;
  }

  &-5 {
    padding-left: 3rem!important;
  }

  &-auto {
    padding-left: auto!important;
  }
}


.pb {
  &-0 {
    padding-bottom: 0!important;
  }

  &-1 {
    padding-bottom: .25rem!important;
  }

  &-2 {
    padding-bottom: .5rem!important;
  }

  &-3 {
    padding-bottom: 1rem!important;
  }

  &-4 {
    padding-bottom: 1.5rem!important;
  }

  &-5 {
    padding-bottom: 3rem!important;
  }

  &-auto {
    padding-bottom: auto!important;
  }
}


.pt {
  &-0 {
    padding-top: 0!important;
  }

  &-1 {
    padding-top: .25rem!important;
  }

  &-2 {
    padding-top: .5rem!important;
  }

  &-3 {
    padding-top: 1rem!important;
  }

  &-4 {
    padding-top: 1.5rem!important;
  }

  &-5 {
    padding-top: 3rem!important;
  }

  &-auto {
    padding-top: auto!important;
  }
}
