  /* Base for label styling */

[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}


/* radio aspect */

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: #DCDCDC;
}


/* checked mark aspect */

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  font-family: FontAwesome;
  content: '\f00c';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  background: #084D8E;
  transition: all .1s;
  box-shadow: inset 0 1px 3px #084D8E;
}


/* checked mark aspect changes */

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

[type="radio"]:checked + label:after {
  opacity: 1;
}