.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  max-height: 100vh;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.quarter {
  // height: 30px;
  // width: 30px;
  // border-top-left-radius: 100%;
  // border-top-right-radius: 0;
  // border-bottom-right-radius: 0;
  // border-bottom-left-radius: 0;
  // background-color: greenyellow;

  width: 20vh;
  height: 20vh;
  border-top-left-radius: 100%;
  position: absolute;
  right: -10vh;
  background: pink;
}

.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
  font-size: 1.5em;
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform 0.2s;
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: transparent;
  transition: all 0.3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  font-size: 1.4em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0, 0%, 0%, 0.1);
  transition: transform 0.3s ease, background 0.2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  background-color: rgb(135, 211, 135);
  transform: translate3d(-1em, -7em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  background-color: rgb(218, 160, 218);
  transform: translate3d(3.5em, -6.3em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  background-color: yellow;
  transform: translate3d(6.5em, -3.2em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  background-color: rgb(255, 151, 151);
  transform: translate3d(7em, 1em, 0);
}

.circular-menu.circular-menu-left {
  right: auto;
  left: 1em;
}

.card-grid {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-drawer-container {
  background: #bdbdbd;
  color: rgba(0, 0, 0, 0.87);
}
