<div class="card-grid">
  <div *ngFor="let article of articles">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ article.name }}</mat-card-title>
        <mat-card-subtitle>
          "{{ article?.tracks ? article?.tracks[0]?.Title : '' }}"
          {{ article?.artists ? article?.artists[0]?.displayName : '' }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="article.content">
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile
          dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- <h1>
    {{ article.name }}
  </h1>
  <h2>
    "{{ article?.tracks ? article?.tracks[0]?.Title : '' }}"
    {{ article?.artists ? article?.artists[0]?.displayName : '' }}
  </h2>
  <div>{{ article.content }}</div>
  <hr /> -->
</div>
